.hg
.hgignore
hllcnt
*.orig
*.a
*.o
*.so
*.lo*
tags

php/.*
php/acinclude.m4
php/aclocal.m4
php/autom4te.cache
php/build
php/config.guess
php/config.h
php/config.h.in
php/config.log
php/config.nice
php/config.status
php/config.sub
php/configure
php/configure.in
php/hll.la
php/hll.lo
php/include
php/install-sh
php/libtool
php/ltmain.sh
php/Makefile
php/Makefile.fragments
php/Makefile.global
php/Makefile.objects
php/missing
php/mkinstalldirs
php/modules
php/run-tests.php

php/php_test_results_*
php/tests/*.out
php/tests/*.log
php/tests/*.sh
php/tests/*.exp
php/tests/*.diff
php/tests/*.mem
php/tests/*.php

